* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aquamarine;
}

h1 {
    color: rgb(255, 1, 136);
    font-weight: 700;
    transition: transform 0.2s ease-in-out;
}

header a {
    color: purple;
    text-decoration: none;
}

a:hover {
    text-decoration: line-through;
    color: deeppink;
}

h1:hover {
    transform: scale(1.05);
}
.about {
    background-color: #f6f3;
    border-bottom: 2px solid black;
    height: 4rem;
    width: auto;
}
.about h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-decoration: underline;
}
.about p{
    font-style: italic;
}
.about:hover *{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}
